.image{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAAHlBMVEUBh1L////l5eUekl/5/fwakV3g4+Mek2D7/f4cj112WiDfAAABeUlEQVR4nO3QyQ3CABDAwJA7/TfMn6/FIqGZDuxlmXKc65DzGYuac92vIff269Yv2Papfbt99n2wL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+xL7EvsS+57ql99z/uO851yPmMRb0B3TVKSwfFpJ8AAAAASUVORK5CYII=);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}