.dropdown{
    position: absolute;
    display: inline-block;
}
.dropdown-content{
    position: relative;
    display: none;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-cont{
    position: relative;
    display: none;
}
.dropdown-content:hover .dropdown-cont{
    display: block;
}